{% extends '::base.html.twig' %}

{% block topmenu %}
    {% include 'TaskMngBundle::topmenu_logged.html.twig' %}
{% endblock %}

{% block content %}
    <h3>Add comment to Task: {{ task.name }}</h3>

    {% form_theme form 'bootstrap_3_layout.html.twig' %}

    {{ form(form) }}

    <ul class="nav nav-pills" role="tablist">
        <li role="presentation">
            <a class="label label-success" href="{{ path('task_show', { 'id': task.id }) }}">
                Back to the task
            </a>
        </li>
    </ul>
    <br>
{% endblock %}
