{% extends '::base.html.twig' %}

{% block topmenu %}
    {% include 'TaskMngBundle::topmenu_logged.html.twig' %}
{% endblock %}

{% block content %}
    <h3>Details of the comment</h3>

    <table class="table">
        <tbody>
        <tr>
            <th>Comment</th>
            <td>{{ entity.comment }}</td>
        </tr>
        <tr>
            <th>Creation date</th>
            <td>{{ entity.creationDate|date('Y-m-d H:i:s') }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="nav nav-pills" role="tablist">
        <li role="presentation">
            <button type="button" class="btn btn-sm btn-success" onclick="location.href='{{ path('task') }}'">
                Back to Tasks
            </button>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
