<ul class="nav nav-pills pull-right">
    <li><a href="{{ path('task_new') }}"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a></li>
    <li role="presentation"><a href="{{ path('task') }}">Tasks</a></li>
    <li role="presentation"><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
    <li role="presentation"><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
</ul>