<ul class="nav nav-pills pull-right">
    <li role="presentation"><a href="{{ path('task') }}">My Tasks</a></li>
    <li role="presentation"><a href="{{ path('fos_user_profile_show') }}">My Profile</a></li>
    <li role="presentation"><a href="{{ path('fos_user_security_logout') }}">Log out</a></li>
</ul>