<ul class="nav nav-pills pull-right">
    <li role="presentation"><a href="{{ path('fos_user_security_login') }}">Login</a></li>
    <li role="presentation"><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
</ul>