{% extends '::base.html.twig' %}
{% block topmenu %}
    {% include 'TaskMngBundle::topmenu_logged.html.twig' %}
{% endblock %}
{% block content %}
    <h3>Edit task: {{ entity.name }}</h3>

    {{ form(edit_form, {'attr': {'novalidate': 'novalidate'}, 'attr': { 'class': 'form-signin' }}) }}

    <ul class="nav nav-pills" role="tablist">
        <li role="presentation">
            <button type="button" class="btn btn-sm btn-success" onclick="location.href='{{ path('task') }}'">
                Back to
                the list
            </button>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
    <br>
{% endblock %}
