{% extends '::base.html.twig' %}

{% block topmenu %}
    {% include 'TaskMngBundle::topmenu_logged.html.twig' %}
{% endblock %}

{% block content %}
    <h3>Create your task:</h3>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}

    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

    <ul class="nav nav-pills" role="tablist">
        <li role="presentation">
            <button type="button" class="btn btn-sm btn-success" onclick="location.href='{{ path('task') }}'">
                Back to
                the list
            </button>
        </li>
    </ul>
    <br>
{% endblock %}
