{% extends '::base.html.twig' %}
{% block topmenu %}
    {% include 'TaskMngBundle::topmenu_logged.html.twig' %}
{% endblock %}
{% block content %}
    <h3>Edit category </h3>

    {{ form(edit_form) }}

    <ul class="nav nav-pills" role="tablist">
        <li role="presentation">
            <a class="label label-success" href="{{ path('category') }}">
                Back to Categories
            </a>
        </li>
    </ul>
    <br>
{% endblock %}
