{% extends '::base.html.twig' %}
{% block topmenu %}
    {% include 'TaskMngBundle::topmenu_logged.html.twig' %}
{% endblock %}
{% block content %}
    <h3>All categories</h3>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('category_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('category_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="nav nav-pills" role="tablist">
        <li role="presentation">
            <button type="button" class="btn btn-sm btn-success" onclick="location.href='{{ path('category_new') }}'">
                Create a new category
            </button>
        </li>
    </ul>
    <br>
{% endblock %}
